In [ ]:
'''assignment 2

In [6]:
'''1 answer'''
percntg=int(input('enter ur percentage'))
if percntg >90:
    print('A grade')
elif percntg>80 and percntg<=90:
    print('B grade')
elif percntg>=60 and percntg<=80:
    print('C grade')
else:
    print('D grade')

enter ur percentage 79

C grade

In [8]:
'''2 answer'''
cp=int(input('enter the cost price of ur bike in Rs'))
if cp>100000:
    tax= (15/100)*cp
    print(tax)
elif cp>50000 and cp<=100000:
    tax= (10/100)*cp
    print(tax)
else:
    tax= (5/100)*cp
    print(tax)

enter the cost price of ur bike in Rs 53000

5300.0

In [13]:
'''3 answer'''
city=input('enter city')
if city =='delhi':
    print('monument in delhi is RED FORT ')
elif city=='Agra':
    print('monument in Agra is Taj Mahal')
elif city=='jaipur':
    print('monument is jal mahal')

enter city jaipur

monument is jal mahal

In [1]:
'''5 answer
while loop is used to repeat a specific block of code, an unknown number of times
,until a condition is met.when the codition becomes false the line just after the loop 
in program gets executed.
for example if we wish to sum first 10 natural numbers.following will be the code for same using while loop'''
sum=0
counter=1
while counter<=10:
    sum=sum+counter
    counter+=1
sum

55

In [4]:
'''7 answer'''
count=10
while count>=1:
    print(count)
    count=count-1

10
9
8
7
6
5
4
3
2
1

In [5]:
'''8th question is same as 7th'''

'8th question is same as 7th'

In [1]:
'''6 answer'''
n=int(input('enter row upto which u want to print'))
i=1
while i<=n:
    j=1
    while j<=i:
        print('*',end='')
        j+=1
    print()
    i+=1

enter row upto which u want to print 5

*
**
***
****
*****

In [2]:
'''6th answer'''
n=int(input('enter row upto which u want to print'))
i=1
while i<=n:
    b=1
    while b<=n-i:
        print(" ",end='')
        b+=1
    j=1
    while j<=i:
        print('*',end='')
        j+=1
    print()
    i+=1

enter row upto which u want to print 5

    *
   **
  ***
 ****
*****

In [4]:
n=int(input('enter row upto which u want to print'))
i=1
k=1
while i<=n:
    b=1
    while b<=n-i:
        print(" ",end='')
        b+=1
    j=1
    while j<=k:
        print('*',end='')
        j+=1
    print()
    i+=1
    k+=2

enter row upto which u want to print 5

    *
   ***
  *****
 *******
*********